body {
    background-color: #2B2B2B;
    color: #ffffff;
    margin: 0;
}

.NavMenue {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #545454;
    padding: 10px 15px;
    width: 100%;
    height: auto;
    border-bottom: #f0f0f0;
    border-style: none none solid none;
    z-index: 1049;
}

.logo {
    float: left;
    width: auto;
    height: auto;
    position: relative;
    z-index: 5;
}

.logo>img {
    height: 100px;
}

nav {
    float: right;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.list {
    float: left;
    width: 100%;
    display: flex;
    margin: 0 !important;
}

.NavItems {
    list-style: none;
    margin-left: 35px;
    margin-right: 35px;
    position: relative;
}


.links {
    font-weight: 400;
    cursor: pointer;
    color: #f0f0f0;
    font-size: 17px;
    padding: 7px 13px;
    text-decoration: none;
    display: inline-block;
}


.NavItems :hover {
    transition: 0.4s all ease;
    color: #FF0000;
}

.NavItems::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #FF0000;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.NavItems:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


#ToggleMenu {
    display:display;
}


.menu-icon {
    position: absolute;
    line-height: 110px;
    font-size: 40px;
    float: right;
    cursor: pointer;
    right: 40px;
    display: none;
}

@media (max-width:715px){
    .menu-icon{
        display:block;
    }

  .list{
    padding-left: 10px;
    display: block;
    position: absolute;
    top:126px;
    left: 25%;
    width: 30%;
    background-color: #545454;
  }

.list::after{
    content:''; 
    min-width: 90px;   
    width: 50%;
    position: absolute;
    left:-12%;
    top: 50%;
    height: 1px;   
    rotate: 90deg; 
    background: #FF0000;
}

  .NavItems{
    width: fit-content;
    margin:25px 12%;
    
  }

  input:checked ~ .list {
    left:0%;
  }
}
