body {
    background-color:#07041E;
    color: #f0f0f0;
}

header{
    display: inline-block;
    position:fixed;
    height: 100%;
    width: 99%;
}

nav {
    position: absolute;
    height: 80px;
    width: 99%;
}
.logo>img{
    height:100%
}

.list {
    float: right;
    margin-right: 80px;
}

.list li {
    display: inline-block;
    position: relative;
    transition: 0.4s all ease;

}

 .list li :hover {
    transition: 0.4s all ease;
    color: #b13819;
}

.list li::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: -5px;
left: 0;
background-color: #b13819;
transform-origin: bottom right;
transition: transform 0.5s ease-out;
}
.list li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.list li a {
    color: #f0f0f0;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
}

.checkbtn{
    position: relative;
    line-height: 80px;
    font-size: 40px;
    float: right;
    cursor: pointer;
    right: 40px;
    display: none;
}

#check {
    display: none;
}

@media (max-width:952px){
    .list li a{
        font-size: 14px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
        transition: .5s ease;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:blue;
        top: 80px;
        left: -100%;
        margin: 0;
        padding: 80px 0px;
        text-align: center;
        transition: .5s ease;
    }
    .list li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    };
    .list li a{
        font-size: 20px;
    }
    a:hover{
        background: none;
        color: aqua;
        text-shadow: 0 10px 15px aqua;
    }
    #check:checked ~ ul{
        left: 0;
    }
}