body {
    background-color: #f9c54e;
    color: #ffffff;
    margin: 0;
}

/* Logo*/
.logo {
    float: left;
    width: auto;
    height: auto;
    position: relative;
    z-index: 5;
}

.logo>img {
    height: 90px;
}

.navbar {
    background-color:#7cc945 ;
}

@media (min-width: 1815px){
.navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
}


/* Content */
.move {
    position: absolute;
    left: 0;
}

.img-height{
    height: 85vh;
}

/* Spacer to next part*/
.spacer {
    position: relative;
    margin: 20px 0px;
    background-image: url("/design/pictures/photovoltaic-2814504.jpg");
    background-position: 50% 50%;
    background-size: cover;
    height: 200px;
}

.spacer>p {
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-transform: capitalize;
    color: #FF0000;
}

@media only screen and (max-width: 415px) {
    .move{
        top: 105px;
    }
    .spacer{
        height: 100px;
    }
    .spacer>p  {
        font-size: 2rem;
        
    }
  }